<div th:fragment="filterTab">
  <div class="row mb-4">
                        <div class="col d-flex flex-wrap gap-3 align-items-center justify-content-center">
                            <label class="mb-0">Lọc bởi :</label>
                            <select class="form-select w-auto" style="min-width: 180px;">
                                <option>Tất cả chủ đề</option>
                                <option>Toán học</option>
                            </select>
                            <select class="form-select w-auto" style="min-width: 180px;">
                                <option>Đã tạo</option>
                                <option>Đã tham gia</option>
                                <option>Đã đánh giá</option>
                            </select>
                            <input type="date" class="form-control w-auto" style="min-width: 180px;">
                        </div>
                    </div>
</div>